html {
  font-size: 62.5%;
}
body {
  max-width: 117rem;
  height: 100vh;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
  border: 0.1rem solid #afb4ff;
}
.container {
  max-width: 117rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3rem;
  background-color: #ffaaaa;
}
