@import "node_modules/normalize.less/normalize.less";
@import "variables.less";
@import "fonts.less";
@import "main.less";

@import "../blocks/col/col.less";
@import "../blocks/row/row.less";

.container{
    max-width: 117rem;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 3rem;
    // background-color: #ffaaaa;
}

.gallery{
    display: grid;
    grid-auto-flow: column;
}

.contact{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.social-media{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.home__container{
    grid-template-rows: repeat(2, auto);
}

.about__container{
    grid-template-rows: repeat(3, auto);
}

.testimonials__container{
    grid-template-rows: repeat(2, auto);
}

.news__container{
    grid-template-rows: repeat(2, auto);
}

.footer_container{
    grid-template-rows: repeat(3, auto);
}

.news-item__info{
    display: grid;
    grid-auto-flow: column;
}